.about-img-container {
  display: flex;
  justify-content: center;
  height: 223px;
  background-image: url(../../../public/images/about-background.png);
  opacity: 1;
  mix-blend-mode: darken;
  margin: 0 100px;
  border: 1px solid #FFF;
  border-radius: 25px;
  object-fit: cover;
}
