.about-banner-container {
    position: relative;
    display: flex;
}
.about-banner-container img {
    display: flex;
    width: calc(100% - 200px);
    max-width: 100vw;
    height: 223px;
    margin: 0 100px;
    border: 0 solid #FFF;
    opacity: 1;
    border-radius: 25px;
    justify-content: center;
    object-fit: cover;
}
.about-banner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 200px);
    max-width: 100vw;
    height: 223px;
    border: 0 solid #000;
    opacity: .3;
    border-radius: 25px;
    background-color: #000;
    transform: translate(-50%, -50%);
}
.Fullfilling {
    width: 100px;
    height: 3800px;
}
