:root {
    --primary:  #FF6060;
    --secondary: #DEEBFF;
    --foreground: #000;
    --foreground-alt: #FFF;
    --background: #FFF;
    --background-alt-footer: #000;
    --background-alt: #F6F6F6;
}
.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    max-width: 1440px;
    font-family: Montserrat sans-serif;
}
@media all and (max-width: 992px) {
    .App {
        max-width: 100vw;
    }
}
@media all and (max-width: 768px) {
    .App {
        max-width: 100vw;
    }
}
@font-face {
    font-family: Montserrat sans-serif;
    src: url(../fonts/Montserrat-VariableFont_wght.woff2) format("woff2"),
    url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}
