.rental-main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    margin: auto;
}
.rental-head-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
.rental-head-main {
    text-align: left;
}
.rental-head-main h1 {
    font-size: 36px;
    line-height: 142.6%;
    color: var(--primary);
    margin-top: 30px;
}
.rental-location {
    font-size: 18px;
    line-height: 142.6%;
    color: var(--primary);
}
.rental-tags-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}
.rental-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 25px;
    margin-right: 10px;
    color: var(--background);
    background-color: var(--primary);
    border: 0 solid var(--primary);
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
}
.rental-head-details  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.rental-host-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 30px;
}
.rental-host-name {
    margin-right: 10px;
    color: var(--primary);
}
.rental-host-picture img {
    width: 64px;
    height: 64px;
    border: 0 solid var(--background);
    border-radius: 32px;
}
.rental-rating-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
.rental-dropdown {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
#drop-down-5 {
    margin-right: 38px;
}
#drop-down-6 {
    margin-left: 38px;
}
.rental-dropdown > .drop-down {
    width: 100%;
}
@media all and (max-width: 768px) {
    .rental-main-wrapper {
        width: calc(100% - 40px);
    }
    .rental-head-main h1 {
        font-size: 18px;
        margin-top: 15px;
    }
    .rental-location {
        font-size: 14px;
    }
    .rental-tags-wrapper {
        margin-top: 10px;
    }
    .rental-tag {
        width: 84px;
        height: 18px;
        font-size: 14px;
        border-radius: 5px;
    }
    .rental-head-wrapper {
        flex-flow: column nowrap;
    }
    .rental-head-details {
        flex-flow: row-reverse nowrap;
    }
    .rental-host-wrapper {
        margin-top: 15px;
    }
    .rental-host-picture img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }
    .rental-rating-elements img {
        width: 13px;
    }
    .rental-dropdown {
        flex-flow: column nowrap;
        width: calc(100vw - 20px);
    }
    #drop-down-5 {
        margin: 0;
    }
    #drop-down-6 {
        margin: 0;
    }
}
